In [1]:
import findspark
findspark.init()

In [3]:
#criar spark session

from pyspark.sql import SparkSession
spark=SparkSession.builder\
        .master ('local')\
        .appName('Estudando PySpark')\
        .getOrCreate()

In [23]:
# Criando dataframe a partir de um CSV


df = spark.read.options(header=True, InferSchema='True' , delimiter=',').csv('movies.csv')

In [25]:
df.show()

+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+
|                Film|    Genre|         Lead Studio|Audience score %|Profitability|Rotten Tomatoes %|Worldwide Gross|Year|
+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+
|Zack and Miri Mak...|  Romance|The Weinstein Com...|              70|  1.747541667|               64|        $41.94 |2008|
|     Youth in Revolt|   Comedy|The Weinstein Com...|              52|         1.09|               68|        $19.62 |2010|
|You Will Meet a T...|   Comedy|         Independent|              35|  1.211818182|               43|        $26.66 |2010|
|        When in Rome|   Comedy|              Disney|              44|          0.0|               15|        $43.04 |2010|
|What Happens in V...|   Comedy|                 Fox|              72|  6.267647029|               28|       $219.37 |2008|
| Water For Elephants|    Drama|    20th Century Fox|              72|  3.081421053|               60|       $117.09 |2011|
|              WALL-E|Animation|              Disney|              89|  2.896019067|               96|       $521.28 |2008|
|            Waitress|  Romance|         Independent|              67|   11.0897415|               89|        $22.18 |2007|
| Waiting For Forever|  Romance|         Independent|              53|        0.005|                6|         $0.03 |2011|
|     Valentine's Day|   Comedy|        Warner Bros.|              54|  4.184038462|               17|       $217.57 |2010|
|Tyler Perry's Why...|  Romance|         Independent|              47|    3.7241924|               46|        $55.86 |2007|
|Twilight: Breakin...|  Romance|         Independent|              68|  6.383363636|               26|       $702.17 |2011|
|            Twilight|  Romance|              Summit|              82|  10.18002703|               49|       $376.66 |2008|
|      The Ugly Truth|   Comedy|         Independent|              68|  5.402631579|               14|       $205.30 |2009|
|The Twilight Saga...|    Drama|              Summit|              78|      14.1964|               27|       $709.82 |2009|
|The Time Traveler...|    Drama|           Paramount|              65|  2.598205128|               38|       $101.33 |2009|
|        The Proposal|   Comedy|              Disney|              74|       7.8675|               43|       $314.70 |2009|
|The Invention of ...|   Comedy|        Warner Bros.|              47|  1.751351351|               56|        $32.40 |2009|
|  The Heartbreak Kid|   Comedy|           Paramount|              41|  2.129444167|               30|       $127.77 |2007|
|         The Duchess|    Drama|           Paramount|              68|  3.207850222|               60|        $43.31 |2008|
+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+
only showing top 20 rows

In [26]:
df.printSchema()

root
 |-- Film: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Lead Studio: string (nullable = true)
 |-- Audience score %: integer (nullable = true)
 |-- Profitability: double (nullable = true)
 |-- Rotten Tomatoes %: integer (nullable = true)
 |-- Worldwide Gross: string (nullable = true)
 |-- Year: integer (nullable = true)

In [30]:
#selecionando colunas

dfmovie= df.select('Film', 'Genre', 'Audience score %', 'Year')

In [31]:
dfmovie.show()

+--------------------+---------+----------------+----+
|                Film|    Genre|Audience score %|Year|
+--------------------+---------+----------------+----+
|Zack and Miri Mak...|  Romance|              70|2008|
|     Youth in Revolt|   Comedy|              52|2010|
|You Will Meet a T...|   Comedy|              35|2010|
|        When in Rome|   Comedy|              44|2010|
|What Happens in V...|   Comedy|              72|2008|
| Water For Elephants|    Drama|              72|2011|
|              WALL-E|Animation|              89|2008|
|            Waitress|  Romance|              67|2007|
| Waiting For Forever|  Romance|              53|2011|
|     Valentine's Day|   Comedy|              54|2010|
|Tyler Perry's Why...|  Romance|              47|2007|
|Twilight: Breakin...|  Romance|              68|2011|
|            Twilight|  Romance|              82|2008|
|      The Ugly Truth|   Comedy|              68|2009|
|The Twilight Saga...|    Drama|              78|2009|
|The Time Traveler...|    Drama|              65|2009|
|        The Proposal|   Comedy|              74|2009|
|The Invention of ...|   Comedy|              47|2009|
|  The Heartbreak Kid|   Comedy|              41|2007|
|         The Duchess|    Drama|              68|2008|
+--------------------+---------+----------------+----+
only showing top 20 rows

In [33]:
#filtrando

dfmovie.filter(dfmovie.Year > 2010).show()

+--------------------+---------+----------------+----+
|                Film|    Genre|Audience score %|Year|
+--------------------+---------+----------------+----+
| Water For Elephants|    Drama|              72|2011|
| Waiting For Forever|  Romance|              53|2011|
|Twilight: Breakin...|  Romance|              68|2011|
|  Something Borrowed|  Romance|              48|2011|
|             One Day|  Romance|              54|2011|
|      New Year's Eve|  Romance|              48|2011|
|My Week with Marilyn|    Drama|              84|2011|
|         Monte Carlo|  Romance|              50|2011|
|   Midnight in Paris|  Romence|              84|2011|
|           Jane Eyre|  Romance|              77|2011|
|   Gnomeo and Juliet|Animation|              52|2011|
|   Gnomeo and Juliet|Animation|              52|2011|
|           Beginners|   Comedy|              80|2011|
|  A Dangerous Method|    Drama|              89|2011|
+--------------------+---------+----------------+----+

In [38]:
#filtrando maior nota

from pyspark.sql.functions import max
df_max = df.agg(max('Audience score %').alias('Max Audience Score')).show()

+------------------+
|Max Audience Score|
+------------------+
|                89|
+------------------+